.send__message{
    border-radius: 0% !important;
    .send__message__input{
        border-radius: 0% !important;
        padding: 20px !important;
    }
    .input-group-append{
        border-radius: 0% !important;
    }
    .input-group-text{
        padding: 0 10px;
        border-radius: 0% !important;
    }
}

.start__messaging{
    min-height: 80vh;
}